 <!-- <div [formGroup] = "studentForm">
    <div [formGroupName]="studentIndex">
        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" attr.for="{{'firstNameId' + studentIndex}}">First Name</label>
            <div class="col-md-8">
                <input class="form-control" id="{{ 'firstNameId' + studentIndex }}" type="text"
                    placeholder="First Name (required)" formControlName="firstName" />

            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" attr.for="{{'lastNameId'+studentIndex}}">Last Name</label>
            <div class="col-md-8">
                <input class="form-control" id="{{'lastNameId'+studentIndex}}" type="text"
                    placeholder="Last Name (required)" formControlName="lastName" />

            </div>
        </div>
    </div>
</div> -->
<!-- <div [formGroup]="studentFormInput">
    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Student Name</label>
        <div class="col-md-8">
            <input class="form-control" type="text"
                placeholder="Student Name (required)" formControlName="name" [ngClass]="{'is-invalid': (studentFormInput.get('name')?.touched || studentFormInput.get('name')?.dirty) && !studentFormInput.get('name')?.valid }" />
            <span class="invalid-feedback">
                <span *ngIf="studentFormInput.get('name')?.errors?.required">
                    Please enter student name.
                </span>
            </span>
        </div>
    </div>
</div> -->

<!-- {{studentFormInput.value | json}} -->