<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form (ngSubmit)="searchDepartment()" [formGroup]="searchDepartmentForm">
                <div class="row">
                <div class="input-group mb-3 col-md-4">
                    <input class="form-control" id="" type="text" placeholder="Search Department"
                        formControlName="searchString">
                </div>
                <div class="input-group-append ">
                    <button class="btn btn-primary" type="submit" style="height:38px">
                        Search
                    </button>
                </div>
            </div>
            </form>
            
        </div>
    </div>
    <br>
    <a routerLink="/departments/new" class="btn btn-primary">Add New Department</a>
    <div class="row">
        
        <div class="col-lg-12" style="margin-top: 2em;">
            
            
            <table class="table">
                <thead>
                    
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Department <button class="btn btn-sm btn-default" (click) = "orderBy()"><i class="fa fa-sort"></i></button> </th>
                        <th scope="col">Students</th>
                        <th scope="col" colspan="2">Actions</th>
                    </tr>
                    <br>
                    <div *ngIf = "departments?.length == 0"  class="alert alert-danger col-md-6">
                        No records found!
                    </div>
                </thead>
                <tbody *ngIf = "departments?.length != 0" >
                    <tr *ngFor="let department of departments; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{department.dep}}</td>
                        <td>
                            <a class=" btn btn-primary" [routerLink]="[department.id,'students']">
                                View Students
                            </a>
                        </td>
                        <td><a class="btn btn-warning" [routerLink]="[department.id,'edit']"
                                style="text-align:center;">Edit</a>
                            <a class="btn btn-danger ml-1" (click)="removeDepartment(department.id,department.dep)"
                                style="text-align:center;">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>